body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00000094;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 150px;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #00000094;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    flex: 1;
    margin-right: 20px;
}
footer h4 {
    margin-bottom: 10px;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer ul li {
    margin-bottom: 5px;
}
footer ul li a {
    color: #fff;
    text-decoration: none;
}
.flex-container {
    display: flex;
    background-color: rgb(255, 255, 255);
  }
  
  .flex-container > div {
    background-color: #f7d6d6;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

a {
    color: rgb(94, 94, 94); /* Textfarbe */
    text-decoration: none; /* Unterstreichung entfernen */
}

a:visited {
    color: rgb(94, 94, 94); 
}

/* Stil für Links beim Überfahren mit der Maus */
a:hover {
    color: rgb(76, 0, 255); 
    text-decoration: underline; 
}
